<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- stop the web browser from ever caching this page or its images 
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />-->
    <!-- support for this page -->
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.in.js"></script>
    <script src="//cdn.hs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Duke Tech Incubator</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#" height="40">Duke Tech Incubator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar1">
			<ul class="navbar-nav m1-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="addproject.html"> Add Project </a>
				</li>
			</ul>
		</div>
	</nav>
 
    <h1 id="bonk-header">Add A Project</h1>
    <div class="divider">
		<p id="description"> Have a project idea? Fill it out here!</p>
            <form id="project-submit">
                <div class="form-group">
                    <label for="fullName">Name</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Full Name">
                </div>
		<div class="form-group">
			<label for="NetID">NetID</label>
			<input type="text" class="form-control" id="NetID" placeholder="NetID">
		</div>
                <div class="form-group">
                    <label for="email">Members</label>
                    <input type="email" class="form-control" id="Members" placeholder="Enter the members of your project">
                </div>
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input type="text" class="form-control" id="projectName" placeholder="Project Name">
		</div>		
                <div class="form-group">
                    <label for="description">Project Description</label>
                    <textarea class="form-control" id="description" rows="3" placeholder="Describe your project in a few short lines"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    <script src="script.js" async></script>
</body>
</html>
