
<h1 id="bonk-header">Create Your Profile</h1>
<div class="divider">
    <p id="description"> Want to join DTI to work on technical projects? Create a profile here! </p>
    <form id="project-submit" action="/post/profile" method="post">
        <div class="form-group">
            <label for="fullName">Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Full Name" name="name">
        </div>
        <div class="form-group">
            <label for="NetID">NetID</label>
            <input type="text" class="form-control" id="netID" placeholder="NetID" name="netid">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
        </div>
        <div class="form-group">
            <label for="gradyear">Graduation Year</label>
            <input type="text" class="form-control" id="gradyear" placeholder="Graduation Year" name="grad_year">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

