
<h1 id="bonk-header">Add A Project</h1>
<div class="divider">
    <p id="description"> Have a project idea? Fill it out here!</p>
    <form id="project-submit" action="/post/project" method="post">
        <div class="form-group">
            <label for="fullName">Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Full Name" name="username">
        </div>
        <div class="form-group">
            <label for="NetID">NetID</label>
            <input type="text" class="form-control" id="NetID" placeholder="NetID" name="founder">
        </div>
        <div class="form-group">
            <label for="email">Members</label>
            <input type="text" class="form-control" id="Members" placeholder="Enter the NetIDs of members of your project" name="members">
        </div>
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" class="form-control" id="projectName" placeholder="Project Name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Project Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Describe your project in a few short lines" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Tags</label>
            <input type="text" placeholder="List Relevant Tags" name="tag">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

