<h1>
    Advanced Project Search
</h1>

<form id="advancedSearch" action="/project/" method="post">
    <div class="form-group">
        <label for="pname">Project Name</label>
        <input type="text" class="form-control" id="pname" name="name">
    </div>

    <div class="form-group">
        <label for="founder">Project Founder</label>
        <input type="text" class="form-control" id="founder" name="founder">
    </div>

    <div class="form-group">
        <label for="mentor">Project Mentor</label>
        <input type="text" class="form-control" id="mentor" name="professor">
    </div>

    <div class="form-group">
        <label for="tags">Project Tags</label>
        <input type="text" class="form-control" id="tags" name="tags">
    </div>

    <div class="form-group">
        <label for="status">Project Status</label>
        <input type="text" class="form-control" id="status" name="status">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>