
<head>
    <script src="javascripts/searchbar.js"></script>
</head>

<body>

    <h1 id="bonk-header">Duke Tech Incubator</h1>
    <div class="search">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by name..">
        <a href="/search" style="display: block; font-size: 14px">Advanced Search</a>
    </div>

    <h3 align="center">Projects</h3>
    <div id="constrainer2">
        <table style="border: 1px solid black" id="myTable">
            {{#each projects}}
            <tr>
                <td>
                    <a href="/project/{{this.name}}">
                        {{this.name}}
                    </a>
                </td>
                <td>{{this.description}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

</body>
