<h1>
    {{info.name}}
</h1>

{{#each specializations}}
    <p>
        {{this.subject}}
    </p>
{{/each}}

{{#each projects}}
    {{> projectTable project=this}}
{{/each}}
<a href="/">Back to DTI</a>