<h1>{{founder}}</h1>
<br />
<table style="border: 1px solid black">
    {{#each results}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
        </tr>
    {{/each}}
</table>