<h1>
    {{info.name}}
</h1>

{{#each degrees}}
    <p>
        {{this.name}}
    </p>
    <p>
        {{this.type}}
    </p>
{{/each}}

{{#each projects}}
    {{> projectTable project=this}}
{{/each}}

<a href="/">Back to DTI</a>